{% extends "main/base.html" %}

{% block title %}{% if form.instance.pk %}Редактирование университета{% else %}Создание университета{% endif %}{% endblock %}

{% block content %}
<h2>{% if form.instance.pk %}Редактирование университета{% else %}Создание нового университета{% endif %}</h2>

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.full_name.id_for_label }}">{{ form.full_name.label }}</label>
        {{ form.full_name }}
        {% if form.full_name.errors %}
            <div class="alert alert-danger">{{ form.full_name.errors }}</div>
        {% endif %}
    </div>
    
    <div class="form-group">
        <label for="{{ form.short_name.id_for_label }}">{{ form.short_name.label }}</label>
        {{ form.short_name }}
        {% if form.short_name.errors %}
            <div class="alert alert-danger">{{ form.short_name.errors }}</div>
        {% endif %}
    </div>
    
    <div class="form-group">
        <label for="{{ form.foundation_date.id_for_label }}">{{ form.foundation_date.label }}</label>
        {{ form.foundation_date }}
        {% if form.foundation_date.errors %}
            <div class="alert alert-danger">{{ form.foundation_date.errors }}</div>
        {% endif %}
    </div>
    
    <div class="form-actions">
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{% url 'university_list' %}" class="btn btn-primary">Отмена</a>
    </div>
</form>
{% endblock %}

