{% extends "main/base.html" %}

{% block title %}{% if university %}Редактирование университета{% else %}Создание университета{% endif %}{% endblock %}

{% block content %}
<h2>{% if university %}Редактирование университета{% else %}Создание нового университета{% endif %}</h2>

<form method="post">
    <div class="form-group">
        <label for="full_name">Полное название</label>
        <input type="text" id="full_name" name="full_name" value="{{ university.full_name if university else '' }}" required>
    </div>
    
    <div class="form-group">
        <label for="short_name">Сокращённое название</label>
        <input type="text" id="short_name" name="short_name" value="{{ university.short_name if university else '' }}" required>
    </div>
    
    <div class="form-group">
        <label for="foundation_date">Дата создания</label>
        <input type="date" id="foundation_date" name="foundation_date" value="{{ university.foundation_date.strftime('%Y-%m-%d') if university else '' }}" required>
    </div>
    
    <div class="form-actions">
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{{ url_for('university_list') }}" class="btn btn-primary">Отмена</a>
    </div>
</form>
{% endblock %}